<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.mapper.UserMapper">
    <update id="update">
        update t_user
        <set>
            <if test="username != null and username != ''">
                username=#{username},
            </if>
            <if test="password != null and password != ''">
                password=#{password},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname=#{nickname},
            </if>
            <if test="email != null and email != ''">
                email=#{email},
            </if>
            <if test="phone != null and phone != ''">
                phone=#{phone},
            </if>
            <if test="address != null and address != ''">
                address=#{address}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
</mapper>